.cart-container img{
    width: 100px;
}

.cart-container{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: space-between; */
    gap: 20px;
}