body{
    max-width: 1140px;
    background-color: bisque;
    margin: 0 auto;
}

.hero-container{
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 25px;
    font-size: 1.25em;
    background-color: lightgreen;
    border-radius: 10px;
    
}
.hero-container img{
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.child{
    max-width: 600px;
}

.hero-container button{
    background-color: aqua;
    font-size: 1.25em;
    border-radius: 10px;
}

