nav li{
    list-style: none;
    display: inline;
    margin-right: 15px;
}

nav li:hover{
    background-color: aqua;
}

nav li a{
    text-decoration: none;
}

fieldset{
    margin-top: 15px;
}

label{
    margin-top: 10px;
}
input{
    margin-top: 10px;
}

td, th{
    border: 1px solid black;
    padding: 10px 20px;
}

table{
    border-collapse: collapse;
    padding: 10px 20px;
}